* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6d6767;
  background-image: url(../images/bg.jpg);
}

.about-section {
  background: url(../css/bg.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
  background-color: #fbfffeec;
  overflow: hidden;
  padding: 100px 0;
}

.inner-container {
  width: 55%;
  float: right;
  background-color: #69b578;
  padding: 150px;
}

.inner-container h1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}

.text {
  font-size: 14px;
  color: #ffffff;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

.skills {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 1200px) {
  .inner-container {
    padding: 80px;
  }
}
@media screen and (max-width: 1300px) {
  .about-section {
    background-size: 100%;
    padding: 100px 40px;
  }
  .inner-container {
    width: 100%;
    background-color: #69b57885;
  }
}
@media screen and (max-width: 1000px) {
  .about-section {
    background-size: 100%;
    padding: 100px 40px;
  }
  .inner-container {
    width: 100%;
    background-color: #69b57885;
  }
}

@media screen and (max-width: 600px) {
  .about-section {
    padding: 0;
    background-size: 100%;
  }
  .inner-container {
    padding: 60px;
    background-color: #69b57885;
  }
}
